<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Idade</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    {# {% block css %}
    {% endblock %} #}
  </head>
  <body>
    <form action="" method="POST">
      <div class="wrapper">
        <h1>Verificar idade</h1>
        <input type="number" name="quantity" min="0" max="150" placeholder="Insira sua idade"/>
        <button type="submit">Verificar a idade</button>
      </div>
    </form>
  </body>
</html>



