<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Idade</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="age-div">
      <h1>Você é maior de idade e possui {{ age }} anos</h1>
    </div>
  </body>
</html>



